
@font-face {font-family: "iconfont";
  src: url('iconfont/iconfont.eot'); /* IE9*/
  src: url('iconfont/iconfont.eot#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('iconfont/iconfont.woff') format('woff'), /* chrome, firefox */
  url('iconfont/iconfont.ttf') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url('iconfont/iconfont.svg#iconfont') format('svg'); /* iOS 4.1- */
}

.gfs-icon {
  font-family:"iconfont" !important;
  font-size:16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;
}

/* 更新时覆盖以下内容，以上内容如果覆盖使用时会报错 */



.icon-delete:before { content: "\e731"; }

.icon-chevron-left:before { content: "\e603"; }

.icon-chevron-right:before { content: "\e606"; }

.icon-search:before { content: "\e60a"; }

.icon-slice:before { content: "\e60c"; }

.icon-zhuanfa:before { content: "\e60e"; }

.icon-add:before { content: "\e617"; }

.icon-minus:before { content: "\e618"; }

.icon-radio:before { content: "\e619"; }

.icon-radio-checked:before { content: "\e61a"; }

.icon-checkbox:before { content: "\e61b"; }

.icon-checkbox-checked:before { content: "\e61c"; }

.icon-success:before { content: "\e61d"; }

.icon-success-fill:before { content: "\e61e"; }

.icon-tip-fill:before { content: "\e620"; }

.icon-waiting-fill:before { content: "\e622"; }

.icon-close-fill:before { content: "\e623"; }

.icon-share:before { content: "\e624"; }

.icon-close:before { content: "\e625"; }

.icon-yinsi:before { content: "\e626"; }

.icon-expand-less:before { content: "\e628"; }

.icon-expand-more:before { content: "\e629"; }

.icon-location:before { content: "\e62a"; }

.icon-question-circle:before { content: "\e62b"; }

.icon-warning-fill:before { content: "\e62c"; }

.icon-decline:before { content: "\e62d"; }

.icon-rise:before { content: "\e62e"; }

.icon-mendianpingjia:before { content: "\e62f"; }

.icon-tuandanpingjia:before { content: "\e631"; }

.icon-shangjiawenda:before { content: "\e632"; }

.icon-fendianpaiming:before { content: "\e633"; }

.icon-tonghangpaiming:before { content: "\e634"; }

.icon-jingduiguanzhu:before { content: "\e635"; }

.icon-kaidiancankao:before { content: "\e636"; }

.icon-top:before { content: "\e637"; }

.icon-wodepaiming:before { content: "\e638"; }

.icon-release:before { content: "\e63c"; }

.icon-upload:before { content: "\e63d"; }

.icon-yanquan:before { content: "\e644"; }

.icon-add-circle:before { content: "\e646"; }

.icon-close-circle:before { content: "\e647"; }

.icon-minus-circle:before { content: "\e648"; }

.icon-dingdanzhongxin-fill:before { content: "\e649"; }

.icon-koubeiguanli-fill:before { content: "\e64a"; }

.icon-tuangoushanhui-fill:before { content: "\e64b"; }

.icon-tupianguanli-fill:before { content: "\e64c"; }

.icon-huiyuanguanli-fill:before { content: "\e64d"; }

.icon-tuiguangtong-fill:before { content: "\e64e"; }

.icon-huodongbaoming-fill:before { content: "\e64f"; }

.icon-jingyingcanmou-fill:before { content: "\e650"; }

.icon-dingdanguanli-fill:before { content: "\e651"; }

.icon-tonghangpaiming-fill:before { content: "\e652"; }

.icon-renqibang-fill:before { content: "\e653"; }

.icon-mendianguanli-fill:before { content: "\e654"; }

.icon-caiwuguanli-fill:before { content: "\e655"; }

.icon-yudingguanli-fill:before { content: "\e656"; }

.icon-mashangfu-fill:before { content: "\e657"; }

.icon-tongchenghuodong-fill:before { content: "\e658"; }

.icon-zhibo-fill:before { content: "\e659"; }

.icon-jieqian-fill:before { content: "\e65a"; }

.icon-youhuicuxiao-fill:before { content: "\e65b"; }

.icon-meidianbao-fill:before { content: "\e65c"; }

.icon-shangjiaqianbao-fill:before { content: "\e65d"; }

.icon-zhinengzhifu-fill:before { content: "\e65e"; }

.icon-saomafu-fill:before { content: "\e65f"; }

.icon-meiyedaxue-fill:before { content: "\e660"; }

.icon-shangdanguanli-fill:before { content: "\e661"; }

.icon-neirongguanli-fill:before { content: "\e662"; }

.icon-jiaoyu-fill:before { content: "\e663"; }

.icon-shanghuguanli-fill:before { content: "\e664"; }

.icon-mianfeishiyong-fill:before { content: "\e665"; }

.icon-xiaofeitongji:before { content: "\e666"; }

.icon-zhangdan:before { content: "\e667"; }

.icon-tuandanguanli:before { content: "\e668"; }

.icon-gukeyingxiao-fill:before { content: "\e669"; }

.icon-biyan:before { content: "\e66a"; }

.icon-label-zu:before { content: "\e66f"; }

.icon-label-tuan:before { content: "\e674"; }

.icon-label-fu:before { content: "\e675"; }

.icon-label-cu:before { content: "\e676"; }

.icon-label-quan:before { content: "\e677"; }

.icon-label-shou:before { content: "\e678"; }

.icon-label-piao:before { content: "\e679"; }

.icon-label-ding:before { content: "\e67a"; }

.icon-label-jia:before { content: "\e67b"; }

.icon-label-yin:before { content: "\e67c"; }

.icon-label-qia:before { content: "\e67d"; }

.icon-label-wai:before { content: "\e67e"; }

.icon-label-dian:before { content: "\e67f"; }

.icon-label-pin:before { content: "\e680"; }

.icon-label-ke:before { content: "\e681"; }

.icon-label-pai:before { content: "\e682"; }

.icon-label-huo:before { content: "\e683"; }

